BACKEND_URL=http://backend:3001 # URL of the backend (Frontend communicates with backend through http://BE_SERVICES_NAME:PORT)
NEXT_PUBLIC_DOMAIN= # Domain of the frontend
NODE_ENV= # BE ENV (development, production)
PORT= # BE PORT
